.head2 {
  padding: 0 0;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
}
/* 
.menu {
  border-bottom: 3px solid skyblue;
} */

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: skyblue;
  border-bottom: 3px solid skyblue;
}